.navbar { 
    background: rgba(244, 244, 244, 0.5);
    border-bottom: 1px solid black;
}

.navbar.scrolled {
    background-color: #fff !important;
    transition: background-color 200ms linear;
  }

.nav-link , .navbar-brand { 
    color: #323D73; cursor: pointer;
}

.navbar-brand {
    color: #323D73; 
    font-family: 'Jim Nightshade', cursive;
}

.logo-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.logo-container > h2 {
    font-weight: 450;
    margin-left: 0.5em;
    margin-top: 0.6em;
}

.navbar-brand:hover {
    color: #323D73;
}

.nav-link { 
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 0.9em;
    font-weight: 600;
    margin-top: 0.4em;
    margin-right: 1em;
}

.nav-link:hover { 
    background: #f4f4f4;
    color: black;
}

.navbar-collapse { 
    justify-content: flex-end;
}

.navbar-toggler {
    font-size: 2.2em;
    color: #323D73;
}

.logo-img {
    margin-left: 2em;
    width: 4em;
    height: 4em;
}



.navbar-toggler-icon {
    color:b;
}

@media screen and (max-width: 985px) {
    #navbarSupportedContent {
        padding-left: 40px;
        text-align: center;
    }

    .nav-link:hover { 
        background: white;
        color: black;
    }

    .navbar {
        background: white;
    }

    .navbar-cta-button {
        display: none;
    }
  }

  @media screen and (max-width: 500px) {
      .nav-title {
          display: none;
      }
  }