#cta-button {
    border: 1px solid #323D73;
    background: #323D73;
    color: #fff;
  }

#cta-button:hover {
  background: #2c6078;
}

.services-container > #cta-button {
  margin: 3em;
}

.insurance-wrapper > #cta-button {
  padding: 0.5em 1.5em 0.5em 1.5em;
  font-size: 1.4em;
}